@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* 表示したい行数を指定 */
  max-height: 4.5rem; /* 表示したい高さを指定 */
}